{% extends "base.html" %}

{% block main %}
<div>
    <div class="text-center">
        <h1>Accounts Dashboard</h1>
    </div>

    <form class="d-flex justify-content-between my-5 flex-wrap gap-3" id="search_form">
        <input name="query" required type="text" class="form-control me-2 px-4 py-2 flex-grow-1"
               placeholder="Search accounts by ID or Name ..." aria-label="Search">
        <div class="flex-shrink-0 d-flex gap-3 ms-auto">
            {% if query %}
            <button class="btn btn-dark px-5 w-fit" type="reset">Clear</button>
            {% endif %}
            <button class="btn btn-dark px-5 w-fit" type="submit">Search</button>
            <button class="btn btn-outline-dark px-5 w-fit d-flex justify-content-center align-items-center gap-2"
                    data-bs-toggle="modal" data-bs-target="#importFileModal">Import From File
                {% include "partials/icons/import.svg" %}
            </button>
        </div>
    </form>
    {% include "partials/import_file_modal.html" %}
    {% if file_upload_success == True %}
    {% include "partials/file_alert.html" with success=True message=message %}
    {% elif file_upload_success == False %}
    {% include "partials/file_alert.html" with success=False message=message %}
    {% endif %}

    <!-- Accounts table -->
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-dark">
            <tr>
                <th style="border-start-start-radius: 8px">ID</th>
                <th>Name</th>
                <th style="border-start-end-radius: 8px">Balance</th>
            </tr>
            </thead>
            <tbody>
            {% if accounts %}
            {% for account in accounts %}
            <tr role="button">
                <td><a href="{% url 'account_details' account_id=account.id %}">{{account.id}}</a></td>
                <td>{{account.name}}</td>
                <td>{{account.balance}}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3" class="text-center py-3 px-2">No Accounts Found. Try removing search queries or
                    importing from file.
                </td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <script>
        const search_field = document.querySelector("input[name='query']")
        search_field.value = "{{query}}"
        const form_element = document.getElementById("search_form")
        form_element.addEventListener("reset", () => window.location.search = '')
    </script>
</div>
{% endblock main %}
